<%- include('partials/header') -%>

  <style>
    body {
      background-color: #f3dede;
    }
  </style>

  <div class="container my-5">

    <h1 class="text-center mb-4" style="color: #2ca017;">Customers</h1>



  </div>




  <table class="table table-striped table-warning m-auto table-responsive">
    <thead>
      <tr class="table-dark">
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">BALANCE</th>
        <th scope="col">OPERATION</th>
      </tr>
    </thead>
    <tbody class="fw-bold">
      <% customersList.forEach(function(customer){%>
        <tr class="d1">
          <td>
            <%= customer.name %>
          </td>
          <td>
            <%= customer.email %>
          </td>
          <td>
            <%= customer.amount %>
          </td>

          <td>
            <a href="/customers/<%= customer.id %>">
              <button class="btn btn-primary">View</button> </a>
          </td>
        </tr>


        <% }) %>





    </tbody>
  </table>



  <footer class="text-center mt-5 py-2 sticky-bottom">
    <p>&copy 2021. Made by <b>VARUN KUMAR</b> <br> SPARKS Foundation</p>
  </footer>

  <%- include('partials/footer') -%>